{% extends 'basic.html' %}
{% load static %}
{% block title %} Blog {% endblock title %}

{% block body %}

<main>
    <section class="mb-5">
        <div class="container">
            <div class="mt-5 text-center">
                <div class="all-heading">
                    <h3>Blogs</h3>
                </div>
            </div>
            <div class="homecontent">
                <div class="blog">
                    <a href="">
                        <h2>
                            WHO CAN HELP ME WITH MY ASSIGNMENT
                        </h2>
                    </a>
                    <h6>
                        Posted on 31 October 2021. Filed under Homework Help.
                    </h6>
                    <a href="">
                        <img class="w-100" src='{% static "images/help-me-with-my-assignment-300x135.jpg"%}'
                            alt="image">
                    </a>
                    <p>
                        There are three certainties in this world: Death, Taxes and Homework Assignments. No matter
                        where you study, and
                        no matter which level you are studying at, there will be, at some point in your academic career,
                        homework
                        assignments that need to be done. Easier said than done, am I right? <a href="">(more…)</a>
                    </p>
                </div>
                <div class="blog">
                    <a href="">
                        <h2>
                            WHO CAN HELP ME WITH MY ASSIGNMENT
                        </h2>
                    </a>
                    <h6>
                        Posted on 31 October 2021. Filed under Homework Help.
                    </h6>
                    <a href="">
                        <img class="w-100" src='{% static "images/help-me-with-my-assignment-300x135.jpg"%}'
                            alt="image">
                    </a>
                    <p>
                        There are three certainties in this world: Death, Taxes and Homework Assignments. No matter
                        where you study, and
                        no matter which level you are studying at, there will be, at some point in your academic career,
                        homework
                        assignments that need to be done. Easier said than done, am I right? <a href="">(more…)</a>
                    </p>
                </div>
                <div class="blog">
                    <a href="">
                        <h2>
                            WHO CAN HELP ME WITH MY ASSIGNMENT
                        </h2>
                    </a>
                    <h6>
                        Posted on 31 October 2021. Filed under Homework Help.
                    </h6>
                    <a href="">
                        <img class="w-100" src='{% static "images/help-me-with-my-assignment-300x135.jpg"%}'
                            alt="image">
                    </a>
                    <p>
                        There are three certainties in this world: Death, Taxes and Homework Assignments. No matter
                        where you study, and
                        no matter which level you are studying at, there will be, at some point in your academic career,
                        homework
                        assignments that need to be done. Easier said than done, am I right? <a href="">(more…)</a>
                    </p>
                </div>
                <div class="blog">
                    <a href="">
                        <h2>
                            WHO CAN HELP ME WITH MY ASSIGNMENT
                        </h2>
                    </a>
                    <h6>
                        Posted on 31 October 2021. Filed under Homework Help.
                    </h6>
                    <a href="">
                        <img class="w-100" src='{% static "images/help-me-with-my-assignment-300x135.jpg"%}'
                            alt="image">
                    </a>
                    <p>
                        There are three certainties in this world: Death, Taxes and Homework Assignments. No matter
                        where you study, and
                        no matter which level you are studying at, there will be, at some point in your academic career,
                        homework
                        assignments that need to be done. Easier said than done, am I right? <a href="">(more…)</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock body %}