{% extends 'basic.html' %}
{% load static %}
{% block title %} Economics {% endblock title %}

{% block body %}

    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href=""><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-7r text-center">
                    <div class="all-heading">
                        <h3>
                            ECONOMICS ASSIGNMENT HELP
                        </h3>
                    </div>
                </div>
                <div class="assignmenthelp">
                    <div class="assignmenthelp__title">
                        <p>
                            OUR AREAS OF EXPERTISE:
                        </p>
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Accounting</a>
                                            </li>
                                            <li>
                                                <a href=""> Finance</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Macroeconomics </a>
                                            </li>
                                            <li>
                                                <a href=""> Economics of Enterprise </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Microeconomics</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homecontent">
                    <p>
                        Assignment Expert is a powerful service for the compilation of economics project. We have good professionals who can give 
                        you real economics help. Also, in our service, you can apply at any time and be assured that we will not refuse!
                    </p>
                    <h2>
                        Economics help at Assignment Expert is effective because we provide you with
                    </h2>
                    <ul class="homecontent__menu">
                        <li>a unique economics project you need;</li>
                        <li>a qualified help concerning your economics research project from the team of degree-holding economics experts;</li>
                        <li>attentiveness to each detail.</li>
                    </ul>
                    <p>
                        As soon as you meet some problems with your economics project, you are recommended to refer to Assignment Expert as we 
                        provide you with economics help of every complexity level. You don’t need to spend long hours reading books and articles, 
                        ask for our economics homework help.
                    </p>
                    <h2>
                        Apart from the usual economics help, we offer
                    </h2>
                    <ul class="homecontent__menu">
                        <li>experts working with challenging economics projects, even PhD level experts</li>
                        <li>our online service is available 24/7;</li>
                        <li>online economics help can be useful concerning any economics project.</li>
                    </ul>
                    <p>
                        Sometimes it isn’t effortless to find certain economics assignment solutions. Therefore, you can always refer to our help 
                        service, which is always available for you. Your economics projects could become easier at any time for your convenience.
                    </p>
                    <h2>
                        Economics help at Assignment Expert gives you an opportunity
                    </h2>
                    <ul class="homecontent__menu">
                        <li>to get an answer to every question concerning your economics project immediately;</li>
                        <li>to simplify your economic research project;</li>
                        <li>to find an appropriate solution at reasonable prices;</li>
                        <li>not to spend long hours for completing assignments but to handle it over to experts.</li>
                    </ul>
                    <p>
                        The process of economics assignment solutions searching is the key point while working on certain economics project. Here 
                        you can get a wide range of services. Short questions and rapid answers of our experts will help to solve a problem rapidly.
                    </p>
                    <ul class="homecontent__menu">
                        <li>we are willing to provide you with high-quality help;</li>
                        <li>we offer solutions minding all your requirements;</li>
                        <li>it’s easy to do an economic research project with us;</li>
                        <li>our assistance saves your time, giving you many advantages such as discounts for repeat customers.</li>
                    </ul>
                    <p>
                        An economic research project is a complex task which demands a lot of skills. We cope with your tasks to make your life 
                        easier. So contact us right now!
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}