{% extends 'basic.html' %}
{% load static %}
{% block title %} Engineering {% endblock title %}
 
{% block body %}
    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href=""><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-7r text-center">
                    <div class="all-heading">
                        <h3>
                            ENGINEERING ASSIGNMENT HELP
                        </h3>
                    </div>
                </div>
                <div class="assignmenthelp">
                    <div class="assignmenthelp__title">
                        <p>
                            OUR AREAS OF EXPERTISE:
                        </p>
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Mechanical Engineering</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Electrical Engineering</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Chemical Engineering</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homecontent">
                    <p>
                        We are here to provide you with the reliable engineering assignment help as per your instructions that is just a click 
                        away! There’s no need to spend sleepless nights working on your projects. Over the years, our professional representatives 
                        have helped loads of customers of all levels by providing top quality engineering help.                    
                    </p>
                    <p>
                        AssignmentExpert.com has experts with MA and PhD degrees. Thus, they can serve you with any complexity level work. Every 
                        client can benefit from individual approach our experts develop for every customer individually. As a result, you’re not 
                        just provided with the utmost quality work that deserves the best praises, but you learn how to handle engineering tasks 
                        on your own, learn how to run its concepts and make use of it in practice.
                    </p>
                    <h2>
                        Engineering Assignment Done in a Flash
                    </h2>
                    <ul class="homecontent__menu">
                        <li>we’re ready to deal with your orders 24/7 (support team is always available);</li>
                        <li>we meet any deadline – time’s money!</li>
                        <li>we access the maximum best online libraries to dig the utmost information for your project;</li>
                        <li>our experts generate top-notch and genuine content;</li>
                        <li>we set the most affordable rates!</li>
                    </ul>
                    <p>
                        Our qualified specialists have authority to dig information from the best online libraries that include precious editions 
                        of books, magazines, reports and other related information that involves fresh and useful content. Therefore, here at 
                        AssignmentExpert.com, we know how to produce exclusive engineering works. Besides, we know how to work under strict time 
                        limits – we meet any deadline. To make sure we’ve complied with your demands, we provide you with a 24/7 chat option, which 
                        means you’ve got a chance to converse with the expert assigned to your project round the clock.
                    </p>
                    <p>
                        We do not promise the lowest prices on the web, but we assure our clients that the quality they’ll get will 100% match the 
                        price you’re required to pay. Moreover, we deliver every engineering assignment right on time. We back up its claims by 
                        100% money refund policy. Your contentment is guaranteed!
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}