{% extends 'basic.html' %}
{% load static %}
{% block title %} Homework Answer {% endblock title %}

{% block body %}
    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="{% url 'signup' %}" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Keep in touch</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Get it done</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href="{% url 'signup' %}"><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homework__header mt-7r">
                    <h1>
                        Homework Answers
                    </h1>
                    <div class="homework__table">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <table>
                                        <tr>
                                            <td class="t__first"><a href="">Math</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Physics</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Chemistry</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Programming & Computer Science</a>
                                            </td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Economics</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">English</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Biology</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Management</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Engineering</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">History</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <table>
                                        <tr>
                                            <td class="t__first"><a href="">Psychology</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Geography</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Sociology</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Law</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Other</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Marketing</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Philosophy</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                        <tr>
                                            <td class="t__first"><a href="">Political Science</a></td>
                                            <td class="t__seconds">58881</td>
                                            <td class="t__third">52480</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="homework__bott">
                        <div class="">
                            <div>
                                <b>Questions: 281 848</b>
                                <p>Answers by our Experts: 258 980</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homework__h3 mt-7r">
                    <h3>
                        Search & Filter
                    </h3>
                </div>
                <div class="homework__searchfilter">
                    <form action="">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6 reviews">
                                    <input class="width-100 homework__form" type="text" name="" id=""
                                        placeholder="Keyword / ID...">
                                    <button>Search</button>
                                </div>
                                <div class="col-lg-6">
                                    <select class="width-100 homework__form" name="" id="">
                                        <option value="">
                                            Select Subject...
                                        </option>
                                        <option value="">
                                            Programming & Computer Science
                                        </option>
                                        <option value="">
                                            Math
                                        </option>
                                        <option value="">
                                            Engineering
                                        </option>
                                        <option value="">
                                            Economics
                                        </option>
                                        <option value="">
                                            Physics
                                        </option>
                                        <option value="">
                                            Other...
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="question mt-7r">
                    <div class="question__head">
                        <div class="question__flex">
                            <div>
                                <a href="">
                                    Question #351052
                                </a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="question__mid mt-3">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <p>
                                        There were ten red bottles sitting on the wall. The probability of a red
                                        bottle accidentally falling is 0.95. What is the probability that fewer
                                        than 8 of the green bottles accidentally fall?
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <img class="float__r" src='{% static "images/math.png"%}' alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question__bott mt-2 mb-1">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <a href="" class="question__read">
                                        Read Answer
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="" class="float__r col__green">
                                        Read Answer!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question mt-7r">
                    <div class="question__head">
                        <div class="question__flex">
                            <div>
                                <a href="">
                                    Question #351052
                                </a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="question__mid mt-3">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <p>
                                        There were ten red bottles sitting on the wall. The probability of a red
                                        bottle accidentally falling is 0.95. What is the probability that fewer
                                        than 8 of the green bottles accidentally fall?
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <img class="float__r" src='{% static "images/math.png"%}' alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question__bott mt-2 mb-1">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <a href="" class="question__read">
                                        Read Answer
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="" class="float__r col__green">
                                        Read Answer!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question mt-7r">
                    <div class="question__head">
                        <div class="question__flex">
                            <div>
                                <a href="">
                                    Question #351052
                                </a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="question__mid mt-3">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <p>
                                        There were ten red bottles sitting on the wall. The probability of a red
                                        bottle accidentally falling is 0.95. What is the probability that fewer
                                        than 8 of the green bottles accidentally fall?
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <img class="float__r" src='{% static "images/math.png"%}' alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question__bott mt-2 mb-1">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <a href="" class="question__read">
                                        Read Answer
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="" class="float__r col__green">
                                        Read Answer!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question mt-7r mb-5">
                    <div class="question__head">
                        <div class="question__flex">
                            <div>
                                <a href="">
                                    Question #351052
                                </a>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="question__mid mt-3">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <p>
                                        There were ten red bottles sitting on the wall. The probability of a red
                                        bottle accidentally falling is 0.95. What is the probability that fewer
                                        than 8 of the green bottles accidentally fall?
                                    </p>
                                </div>
                                <div class="col-lg-3">
                                    <img class="float__r" src='{% static "images/math.png"%}' alt="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question__bott mt-2 mb-1">
                        <div class="col-lg-12">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <a href="" class="question__read">
                                        Read Answer
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <a href="" class="float__r col__green">
                                        Read Answer!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}