{% extends 'basic.html' %}
{% load static %}
{% block title %} How it works {% endblock title %}

{% block body %}

<main>
    <section class="mb-5">
        <div class="container">
            <div class="mt-5 text-center">
                <div class="all-heading">
                    <h3>
                        Steps for submitting assignment
                    </h3>
                </div>
            </div>
            <div class="">
                <div class="content__header">
                    <a href="{% url 'signup' %}" class="content__threebox">
                        <div class="content__box">
                            <div class="box__title">
                                <div class="box__digit">
                                    <p>1</p>
                                </div>
                                <div class="box__text">
                                    <p>Submit Assignment</p>
                                </div>
                            </div>
                            <div class="box__bott">
                                <p>Submit requirements to your assignment.</p>
                            </div>
                        </div>
                        <div class="content__box">
                            <div class="box__title">
                                <div class="box__digit">
                                    <p>2</p>
                                </div>
                                <div class="box__text">
                                    <p>Keep in touch</p>
                                </div>
                            </div>
                            <div class="box__bott">
                                <p>Submit requirements to your assignment.</p>
                            </div>
                        </div>
                        <div class="content__box">
                            <div class="box__title">
                                <div class="box__digit">
                                    <p>3</p>
                                </div>
                                <div class="box__text">
                                    <p>Get it done</p>
                                </div>
                            </div>
                            <div class="box__bott">
                                <p>Submit requirements to your assignment.</p>
                            </div>
                        </div>
                    </a>
                    <div class="content__bott mt-3">
                        <div class="dis-flex justify-content-between align-items-center">
                            <div>
                                <b>Easy as ABC!</b>
                                <p>Just provide us with the clear instructions and wait for the completed
                                    assignment.</p>
                            </div>
                            <div>
                                <a href="{% url 'signup' %}"><button>Submit Now</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-7r text-center">
                <div class="all-heading">
                    <h3>
                        HOW IT WORKS
                    </h3>
                </div>
            </div>
            <div class="homecontent">
                <h2>
                    Submitting your assignment is easy:
                </h2>
                <p>
                    Click on “Submit Now” and fill in the information to configure the project you need assistance with.
                    Then, create your
                    login and set up a password to make a profile for the system. After you have read the terms and
                    conditions, you may submit
                    all the information. You can add new projects by selecting “Create New Order” and entering the
                    information about your
                    particular assignment request.
                </p>
                <h2>
                    The price for every assignment is based upon factors of:
                </h2>
                <ul class="homecontent__menu">
                    <li>the complexity of the assignment;</li>
                    <li>the volume of the project;</li>
                    <li>the deadline.</li>
                </ul>
                <p>
                    As soon as you inquire about our service, you must be prepared to supply all specific instructions
                    and details regarding
                    the project. Our qualified support team will verify your materials and inform whether that the
                    instructions were
                    successfully accepted. As soon as we manage to evaluate your project and be ready to assist, we'll
                    guide you in processing
                    the payment. We start doing your assignment as soon as we receive the payment.
                </p>
                <h2>
                    Our dedicated support team will match your needs with an expert:
                </h2>
                <p>
                    The process of locating the right expert for your particular needs takes typically under 1 hour;
                    however, if you have any
                    questions during the process, you can always contact us to verify the information or check on the
                    status. Prices for your
                    math, physics, or programming assignment are determined after confirming that our experts can
                    complete your assignment
                    within the deadline. Once your assignment is complete, it is submitted to your personal area at
                    assignmentexpert.com as
                    well as forwarded by email for you to review.
                </p>
                <h2>
                    Contacting Assignment Expert:
                </h2>
                <ul class="homecontent__menu">
                    <li>we are available through online live chat and at info@assignmentexpert.com;</li>
                    <li>there is no such thing as a “wrong” question;</li>
                    <li>you can write notes and configure your order until it is approved and pushed to development.
                    </li>
                </ul>
                <p>
                    When you have questions, we are here to assist you. Through the use of our contact methods, we are
                    available to assist
                    you in every way possible. We are here no matter what your question is, and will assist you. There
                    are never wrong
                    questions here at Assignment Expert. If you are concerned that your assignment does not have the
                    right information,
                    please add more notes to set up the project perfectly. Once the project is done, you have at least
                    14 days to review it.
                    Once the completed project does not correspond to the initial requirements, you are in the right to
                    demand fixing it as
                    soon as possible or request a refund.
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock body %}