{% extends 'basic.html' %}
{% load static %}
{% block title %} Mathematics {% endblock title %}
 
{% block body %}
    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href=""><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-7r text-center">
                    <div class="all-heading">
                        <h3>
                            MATHEMATICS ASSIGNMENT HELP
                        </h3>
                    </div>
                </div>
                <div class="assignmenthelp">
                    <div class="assignmenthelp__title">
                        <p>
                            OUR AREAS OF EXPERTISE:
                        </p>
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Statistics and Probability</a>
                                            </li>
                                            <li>
                                                <a href=""> Linear Algebra</a>
                                            </li>
                                            <li>
                                                <a href=""> Vector Calculus</a>
                                            </li>
                                            <li>
                                                <a href=""> Discrete Math</a>
                                            </li>
                                            <li>
                                                <a href=""> Logic</a>
                                            </li>
                                            <li>
                                                <a href=""> Trigonometry</a>
                                            </li>
                                            <li>
                                                <a href=""> Number Theory</a>
                                            </li>
                                            <li>
                                                <a href=""> Algorithms</a>
                                            </li>
                                            <li>
                                                <a href=""> Integral Calculus</a>
                                            </li>
                                            <li>
                                                <a href=""> Topology</a>
                                            </li>
                                            <li>
                                                <a href=""> Mathematical Analysis</a>
                                            </li>
                                            <li>
                                                <a href=""> Pre-Algebra</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Algebra</a>
                                            </li>
                                            <li>
                                                <a href=""> Calculus</a>
                                            </li>
                                            <li>
                                                <a href=""> Geometry</a>
                                            </li>
                                            <li>
                                                <a href=""> Pre-Calculus</a>
                                            </li>
                                            <li>
                                                <a href=""> Quantitative Methods</a>
                                            </li>
                                            <li>
                                                <a href=""> Analytic Geometry</a>
                                            </li>
                                            <li>
                                                <a href=""> Numerical Analysis</a>
                                            </li>
                                            <li>
                                               <a href=""> Combinatorics</a>
                                            </li>
                                            <li>
                                                <a href=""> Set Theory</a>
                                             </li>
                                             <li>
                                                <a href=""> Complex Analysis</a>
                                             </li>
                                             <li>
                                                <a href=""> Matrix Analysis</a>
                                             </li>
                                             <li>
                                                <a href=""> Theory of Optimization</a>
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Abstract Algebra</a>
                                            </li>
                                            <li>
                                                <a href=""> Differential Equations</a>
                                            </li>
                                            <li>
                                                <a href=""> Discrete Math</a>
                                            </li>
                                            <li>
                                                <a href=""> Functional Analysis</a>
                                            </li>
                                            <li>
                                                <a href=""> Real Analysis</a>
                                            </li>
                                            <li>
                                                <a href=""> Elementary Algebra</a>
                                            </li>
                                            <li>
                                                <a href=""> Tensor Analysis</a>
                                            </li>
                                            <li>
                                                <a href=""> Graph Theory</a>
                                            </li>
                                            <li>
                                                <a href=""> Differential Calculus</a>
                                             </li>
                                             <li>
                                                <a href=""> Differential Geometry</a>
                                             </li>
                                             <li>
                                                <a href=""> Multivariable Calculus</a>
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homecontent">
                    <p>
                        You can find professional online math help at Assignment Expert. We are a popular service ready to offer round-the-clock 
                        math help and math assignments done for you. Don’t worry about your cooperation with us because we deal with your online 
                        math tasks professionally and reliable. You'll be pleased to notice that our math problem solvers are always ready to 
                        propose online math help you. Believe us!
                    </p>
                    <h2>
                        The world of math assignments includes
                    </h2>
                    <ul class="homecontent__menu">
                        <li>Algebra, Geometry, Analytic Geometry, Differential Geometry;</li>
                        <li>Trigonometry, Calculus, Integral Calculus, Differential Calculus, Number Theory;</li>
                        <li>Statistics and Probability, Mathematical Analysis, Complex Analysis, and Tensor Analysis.</li>
                    </ul>
                    <p>
                        Math assignments we can help with may be of any complexity degree, difficulty, and time consumption.
                    </p>
                    <h2>
                        Assignment Expert assists with complicated math projects
                    </h2>
                    <ul class="homecontent__menu">
                        <li>using experts who help you overcome the difficult challenges;</li>
                        <li>providing you with high-quality results and timely delivery;</li>
                        <li>charging reasonable prices that fit into your needs and budget.</li>
                    </ul>
                    <p>
                        When you are struggling with your math assignments, ready to throw in the towel, you can count on our math help through 
                        these difficult times! We will provide you with online help for all your mathematical assignments. From algebra through 
                        tensor analysis, our team of experts is right here to help you with the highest quality work that will put you back on 
                        track. Timely delivery, reasonable prices, and proper formatting are guaranteed for all our online math help.
                    </p>
                    <h2>
                        Developing the best math assignments with our expert services
                    </h2>
                    <ul class="homecontent__menu">
                        <li>our expert services use a team of degree-holding math experts;</li>
                        <li>every assignment is carefully matched up with the best available expert for your work;</li>
                        <li>we guarantee secure and reliable payment, feedback, and contact methods.</li>
                    </ul>
                    <p>
                        We offer exceptional quality and safety for every solution we can assist you with. Our dedication to you and your success 
                        is in delivering the required result. We are here to help you out! Moreover, we provide free math help answers for those 
                        having minor difficulties with assignments.
                    </p>
                    <h2>
                        Assignment Expert is dedicated to excellent service with
                    </h2>
                    <ul class="homecontent__menu">
                        <li>representatives just one click away from you 24/7;</li>
                        <li>secure payment methods and 100% confidentiality;</li>
                        <li>assistance for customers all over the world and any time zone.</li>
                    </ul>
                    <p>
                        We want you to be delighted with your experiences here at Assignment Expert, and our experts want you to have the best 
                        help at your task levels. When you need math assistance, you can reach solvers online. Chat or email us at 
                        info@assignmentexpert.com any time if you have questions. We have satisfied customers from USA, United Kingdom, Canada, etc.
                    </p>
                    <p>
                        We are fully dedicated to your success, fulfilling your needs for accuracy and timely delivery. Our services are available 
                        to clients all over the world for any task level. When you need the highest quality math assignments, Assignment Expert is 
                        here to help you.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}