{% extends 'basic.html' %}
{% load static %}
{% block title %} Physics {% endblock title %}
 
{% block body %}

    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href=""><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-7r text-center">
                    <div class="all-heading">
                        <h3>
                            PHYSICS ASSIGNMENT HELP
                        </h3>
                    </div>
                </div>
                <div class="assignmenthelp">
                    <div class="assignmenthelp__title">
                        <p>
                            OUR AREAS OF EXPERTISE:
                        </p>
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Kinemmatics</a>
                                            </li>
                                            <li>
                                                <a href=""> Electromagnetism</a>
                                            </li>
                                            <li>
                                                <a href=""> Electrodynamics</a>
                                            </li>
                                            <li>
                                                <a href=""> Relativity</a>
                                            </li>
                                            <li>
                                                <a href=""> Dynamics</a>
                                            </li>
                                            <li>
                                                <a href=""> Friction</a>
                                            </li>
                                            <li>
                                                <a href=""> Acoustics</a>
                                            </li>
                                            <li>
                                                <a href=""> Moment of Force</a>
                                            </li>
                                            <li>
                                                <a href=""> Waves</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Astronomy</a>
                                            </li>
                                            <li>
                                                <a href=""> Thermodynamics</a>
                                            </li>
                                            <li>
                                                <a href=""> Optics</a>
                                            </li>
                                            <li>
                                                <a href=""> Atomic Physics</a>
                                            </li>
                                            <li>
                                                <a href=""> Field Theory</a>
                                            </li>
                                            <li>
                                                <a href=""> Nuclear Physics</a>
                                            </li>
                                            <li>
                                                <a href=""> Elastic Force</a>
                                            </li>
                                            <li>
                                               <a href=""> Plasma Physics</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Mechanics</a>
                                            </li>
                                            <li>
                                                <a href=""> Electric Circuits</a>
                                            </li>
                                            <li>
                                                <a href=""> Projectile Motion</a>
                                            </li>
                                            <li>
                                                <a href=""> Solid State Physics</a>
                                            </li>
                                            <li>
                                                <a href=""> Fluid Mechanics</a>
                                            </li>
                                            <li>
                                                <a href=""> Quantum Mechanics</a>
                                            </li>
                                            <li>
                                                <a href=""> Molecular Physics</a>
                                            </li>
                                            <li>
                                                <a href=""> Statistical Physics</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homecontent">
                    <p>
                        You can find a wide range of services at Assignment Expert. We propose any physics help, and we like to do it because our clients' 
                        satisfaction is our main direction. We can even predict the character of your requirements by a brief description of your assignment.
                    </p>
                    <h2>
                        Assignment Expert provides you with
                    </h2>
                    <ul class="homecontent__menu">
                        <li>experts that are qualified in many types of physics assignments;</li>
                        <li>the highest quality work, and timely delivery;</li>
                        <li>reasonable prices;</li>
                        <li>peace of thought since we remove all the frustrations of the physics assignments.</li>
                    </ul>
                    <p>
                        Here at Assignment Expert, our experts are dedicated to meeting your needs in all your tasks on physics.
                    </p>
                    <h2>
                        Online physics assignments using expert services
                    </h2>
                    <ul class="homecontent__menu">
                        <li>degree-holding physics solvers, with years of experience;</li>
                        <li>we find the most suitable expert for your assignment with the skills and task level you need;</li>
                    </ul>
                    <p>
                        We provide you with experts exactly for your specific needs, experts who can meet your deadlines effectively. Moreover, 
                        your online physics questions will be completed at the level you need. Safety, security, and reliability are the key 
                        features that make us the best choice for your physics assignments.
                    </p>
                    <h2>
                        Assignment Expert is dedicated to top quality physics help service with
                    </h2>
                    <ul class="homecontent__menu">
                        <li>always available representatives – live online support 24/7;</li>
                        <li>secure payment methods and 100% confidentiality;</li>
                        <li>assistance for clients around the globe.</li>
                    </ul>
                    <p>
                        Your physics assignments are important, and we want you to be delighted with your experiences here at Assignment Expert. 
                        Therefore we provide you with many ways to reach us concerning your needs for your physics problems. We are available with 
                        live online chat or email at info@assignmentexpert.com round the clock.
                    </p>
                    <p>
                        We are dedicated to your success, fulfilling your requirements for accuracy and timely delivery. We have customers 
                        worldwide: USA, United Kingdom, Canada, Germany, Japan, China etc. Our services are available to customers all over the 
                        world.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}