{% extends 'basic.html' %}
{% load static %}
{% block title %} Programming {% endblock title %}
 
{% block body %}

    <main>
        <section class="mb-5">
            <div class="container">
                <div class="mt-5 text-center">
                    <div class="all-heading">
                        <h3>
                            Steps for submitting assignment
                        </h3>
                    </div>
                </div>
                <div class="">
                    <div class="content__header">
                        <a href="" class="content__threebox">
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>1</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>2</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                            <div class="content__box">
                                <div class="box__title">
                                    <div class="box__digit">
                                        <p>3</p>
                                    </div>
                                    <div class="box__text">
                                        <p>Submit Assignment</p>
                                    </div>
                                </div>
                                <div class="box__bott">
                                    <p>Submit requirements to your assignment.</p>
                                </div>
                            </div>
                        </a>
                        <div class="content__bott mt-3">
                            <div class="dis-flex justify-content-between align-items-center">
                                <div>
                                    <b>Easy as ABC!</b>
                                    <p>Just provide us with the clear instructions and wait for the completed
                                        assignment.</p>
                                </div>
                                <div>
                                    <a href=""><button>Submit Now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-7r text-center">
                    <div class="all-heading">
                        <h3>
                            PROGRAMMING ASSIGNMENT HELP
                        </h3>
                    </div>
                </div>
                <div class="assignmenthelp">
                    <div class="assignmenthelp__title">
                        <p>
                            OUR AREAS OF EXPERTISE:
                        </p>
                        <div class="col-lg-12 mt-4">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> Java</a>
                                            </li>
                                            <li>
                                                <a href=""> HTML</a>
                                            </li>
                                            <li>
                                                <a href=""> Access</a>
                                            </li>
                                            <li>
                                                <a href=""> PHP</a>
                                            </li>
                                            <li>
                                                <a href=""> AJAX</a>
                                            </li>
                                            <li>
                                                <a href=""> WPF</a>
                                            </li>
                                            <li>
                                                <a href=""> Computer Networks</a>
                                            </li>
                                            <li>
                                                <a href=""> JSF</a>
                                            </li>
                                            <li>
                                                <a href=""> QT</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> C++</a>
                                            </li>
                                            <li>
                                                <a href=""> SQL</a>
                                            </li>
                                            <li>
                                                <a href=""> Viusal Basic</a>
                                            </li>
                                            <li>
                                                <a href=""> ASP.net</a>
                                            </li>
                                            <li>
                                                <a href=""> Oracle</a>
                                            </li>
                                            <li>
                                                <a href=""> JSP</a>
                                            </li>
                                            <li>
                                                <a href=""> Ruby</a>
                                            </li>
                                            <li>
                                               <a href=""> Lisp</a>
                                            </li>
                                            <li>
                                                <a href=""> Scheme</a>
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="assignmenthelp__menu">
                                        <ul>
                                            <li>
                                                <a href=""> C</a>
                                            </li>
                                            <li>
                                                <a href=""> Python</a>
                                            </li>
                                            <li>
                                                <a href=""> Matlab</a>
                                            </li>
                                            <li>
                                                <a href=""> Adobe Flash</a>
                                            </li>
                                            <li>
                                                <a href=""> Prolog</a>
                                            </li>
                                            <li>
                                                <a href=""> MySQL</a>
                                            </li>
                                            <li>
                                                <a href=""> Assembler</a>
                                            </li>
                                            <li>
                                                <a href=""> MSSQL</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homecontent">
                    <p>
                        You are bored to tears by your programming project? You can ask for help at Assignment Expert. Our service will help you 
                        to feel confident in your project. Because our employers are clever, quick-witted and well educated. They can write the 
                        best programming project in accordance with your tasks. Do not hesitate, just address our service, and you will be 
                        surprised.
                    </p>
                    <h2>
                        Computer programming assignment help includes the following areas
                    </h2>
                    <ul class="homecontent__menu">
                        <li>C++, C#, Java, Delphi, Assembly, Visual Basic, Lua, WPF;</li>
                        <li>AJAX, PHP, JavaScript, HTML, ASP/ASP.net;</li>
                        <li>Silverlight, Adobe Flex, Adobe Flash, Coldfusion;</li>
                        <li>Python, Perl, Ruby/Ruby on Rails;</li>
                        <li>SQL, MySQL, Oracle;</li>
                        <li>MathCAD, Matlab, Mathematics.</li>
                    </ul>
                    <p>
                        Most programming project problems are frustrating and difficult due to the time involved and the numerous errors that can 
                        occur during the process of development. Whether your problems concern completing the projects in time or just getting the 
                        work done successfully, you can find assistance here at Assignment Expert, where we will provide you with qualified 
                        experts to help in your programming questions. Assignments on programming do not have to be the worst experience of your 
                        life! Use our expert programming solutions, and you will get your work done according to the high standards you need.
                    </p>
                    <h2>
                        Assignment Expert provides direct contact with an expert in your field
                    </h2>
                    <ul class="homecontent__menu">
                        <li>programming assignments are done by experienced, degree-holding professionals;</li>
                        <li>always using current information, the highest quality work, and timely delivery;</li>
                        <li>we provide you with competitive prices and simple payment options;</li>
                        <li>when you use our experts for your programming assignments you get the best service.</li>
                    </ul>
                    <p>
                        We have developed a team of experts with experience and degrees in your fields to provide you with programming assistance 
                        that is consistent with the best practices developed in the present by our numerous employees. In addition, our service 
                        can keep you on track to completing your programming homework in a timely manner consistent with the needs of entirely 
                        your program. With our easy payment options and competitive prices, you are sure to get your programming projects 
                        completed when you need them and never regret it.
                    </p>
                    <h2>
                        Developing the best math assignments with our expert services
                    </h2>
                    <ul class="homecontent__menu">
                        <li>our expert services use a team of degree-holding math experts;</li>
                        <li>every assignment is carefully matched up with the best available expert for your work;</li>
                        <li>we guarantee secure and reliable payment, feedback, and contact methods.</li>
                    </ul>
                    <p>
                        We offer exceptional quality and safety for every solution we can assist you with. Our dedication to you and your success 
                        is in delivering the required result. We are here to help you out! Moreover, we provide free math help answers for those 
                        having minor difficulties with assignments.
                    </p>
                    <h2>
                        Assignment Expert offers the best programming homework help
                    </h2>
                    <ul class="homecontent__menu">
                        <li>degree holding programming experts with years of experience in their fields;</li>
                        <li>payment, feedback, and contact methods are safe, secure and reliable;</li>
                        <li>we provide you with safety and confidentiality never sharing your information with anyone for any reason.</li>
                    </ul>
                    <p>
                        Getting the best programming assignments is difficult from online sources that may turn out unreliable or fail to provide 
                        you with the highest confidentiality. We guarantee secure methods for conducting your private business and receiving the 
                        most qualified assistance. We are entirely dedicated to your needs, all your programming help will be accomplished by 
                        qualified experts according to your specific requirements. Programming projects should better be left to the experts, 
                        where you know you can get the best programming assistance from a professional in your field.
                    </p>
                    <h2>
                        Assignment Expert is dedicated to outstanding service with
                    </h2>
                    <ul class="homecontent__menu">
                        <li>24/7 available representatives live online support (chat and email);</li>
                        <li>discounts for returning customers;</li>
                        <li>secure payment methods and 100% confidentiality;</li>
                        <li>assistance to clients all over the world.</li>
                    </ul>
                    <p>
                        We want you to be completely satisfied with our mutual cooperation, and we provide you with many ways to reach us 
                        concerning your needs for your programming assignments. You may find that you can find the answers to your questions 
                        with live online chat or email us at info@assignmentexpert.com any time of the day. We value our repeat customers and 
                        offer them discounts for programming assignments.
                    </p>
                    <p>
                        We are dedicated to your success, fulfilling your needs for accuracy, timely delivery, and complete confidentiality and 
                        secure payment methods. Our customers come from the USA, United Kingdom, Canada, etc. When you need the highest quality 
                        programming help and the most secure service, Assignment Expert is your best choice.
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock body %}